USE [QLSV_VB]
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 21/06/2017 9:24:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_DANGNHAP]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR (50)
SELECT @TENUSER =  NAME FROM sys.sysusers WHERE sid = SUSER_SID (@TENLOGIN)
IF EXISTS(SELECT MAGV FROM GIANGVIEN  WHERE MAGV = @TENUSER)
BEGIN
 SELECT USERNAME = @TENUSER,
  HOTEN = (SELECT HO + ' ' + TEN FROM GIANGVIEN  WHERE MAGV = @TENUSER),
   ROLENAME = NAME
   FROM sys.sysusers
   WHERE UID = (SELECT GROUPUID
				 FROM sys.sysmembers
				  WHERE MEMBERUID = (SELECT UID FROM sys.sysusers
									  WHERE NAME=@TENUSER)
				)
END
ELSE
  SELECT USERNAME = @TENUSER,
  HOTEN = (SELECT HO + ' ' + TEN FROM SINHVIEN  WHERE MASV = @TENUSER),
   ROLENAME = NAME
   FROM sys.sysusers
   WHERE UID = (SELECT GROUPUID
				 FROM sys.sysmembers
				  WHERE MEMBERUID = (SELECT UID FROM sys.sysusers
									  WHERE NAME=@TENUSER)
				)