USE [QLSV_VB]
GO
/****** Object:  StoredProcedure [dbo].[EDIT_UPDATE_DIEM]    Script Date: 22/06/2017 8:22:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROC [dbo].[EDIT_UPDATE_DIEM] 

@MALOP			NCHAR(10)= '' OUT,
@MASV			NCHAR(10) = '' out,
@MAMH			NCHAR(10) = '' out,
@LAN			SMALLINT = 0 out,
@DIEM			FLOAT=0

AS

IF (SELECT COUNT(*) FROM DIEM WHERE  MASV = @MASV AND MAMH = @MAMH AND LAN = @LAN) > 0
BEGIN

	UPDATE DIEM
		SET
			MASV = @MASV,
			MAMH = @MAMH,
			LAN = @LAN,
			DIEM  = @DIEM 
	WHERE MASV = @MASV AND MAMH = @MAMH AND LAN  = @LAN	
		SELECT SINHVIEN .MASV,SINHVIEN .HO + ' ' + SINHVIEN .TEN AS HOTEN,DIEM.DIEM
	FROM  DIEM JOIN SINHVIEN  ON DIEM.MASV = SINHVIEN  .MASV
		--JOIN LOP ON LOP .MALOP=SINHVIEN .MALOP 			
		WHERE  MALOP =@MALOP AND LAN =@LAN AND MAMH = @MAMH 
	
	
END

ELSE
BEGIN
	

	INSERT INTO DIEM
		(
		MASV ,MAMH,LAN,DIEM
		)
			VALUES
		(
		@MASV,@MAMH,@LAN,@DIEM
		)

	SELECT SINHVIEN .MASV,SINHVIEN .HO + ' ' + SINHVIEN .TEN AS HOTEN,DIEM.DIEM
	FROM  DIEM JOIN SINHVIEN  ON DIEM.MASV = SINHVIEN  .MASV
		--JOIN LOP ON LOP .MALOP=SINHVIEN .MALOP 			
		WHERE  MALOP =@MALOP AND LAN =@LAN AND MAMH = @MAMH 
END
