USE [QLSV_VB]
GO
/****** Object:  StoredProcedure [dbo].[IN_PHIEUDIEM_TEST]    Script Date: 16/06/2017 8:51:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[IN_PHIEUDIEM_TEST]
@MASV NCHAR(10)
AS
BEGIN
	SELECT TENMH, MAX(DIEM) AS DIEM
	FROM MONHOC JOIN DIEM ON MONHOC .MAMH = DIEM .MAMH 
	WHERE MASV =@MASV 
	GROUP BY TENMH 
END
--IN_PHIEUDIEM_TEST 'N13CCCN40'