USE [QLSV_VB]
GO
/****** Object:  StoredProcedure [dbo].[LOAD_DIEMSV]    Script Date: 22/06/2017 8:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[LOAD_DIEMSV]   --LOAD_DIEMSV 'C13CQKT01','BAST01','1'
	@MALOP NCHAR(10) ,
	@MAMH NCHAR(10),
	@LAN SMALLINT
AS
DECLARE @SV NCHAR(10)
DECLARE @I INT = 0
DECLARE @COUNT INT
DECLARE @SV2 NCHAR(10)
DECLARE @I2 INT = 0
DECLARE @COUNT2 INT

IF(@LAN = 1)
BEGIN
SET @COUNT = (SELECT COUNT(MASV) FROM SINHVIEN JOIN LOP on LOP.MALOP = SINHVIEN.MALOP 
				WHERE MASV NOT IN (SELECT MASV FROM DIEM JOIN MONHOC ON MONHOC.MAMH = DIEM.MAMH 
												WHERE DIEM.LAN = 1 AND MONHOC.MAMH = @MAMH) AND LOP.MALOP = @MALOP)
START:
	SELECT @SV = SINHVIEN.MASV FROM SINHVIEN JOIN LOP on LOP.MALOP = SINHVIEN.MALOP 
		WHERE MASV NOT IN (SELECT MASV FROM DIEM JOIN MONHOC ON MONHOC.MAMH = DIEM.MAMH 
								WHERE DIEM.LAN = 1 AND MONHOC.MAMH = @MAMH) AND LOP.MALOP = @MALOP
	IF EXISTS (SELECT MASV FROM SINHVIEN JOIN LOP on LOP.MALOP = SINHVIEN.MALOP 
					WHERE MASV NOT IN (SELECT MASV FROM DIEM JOIN MONHOC ON MONHOC.MAMH = DIEM.MAMH 
										WHERE DIEM.LAN = 1 AND MONHOC.MAMH = @MAMH) AND LOP.MALOP = @MALOP)
	BEGIN
	INSERT INTO DIEM (MASV, MAMH, LAN, DIEM)
	VALUES(@SV, @MAMH, @LAN, 0)
	END
	SET @I = @I + 1
IF @I < @COUNT GOTO START;
END
IF(@LAN = 2)
BEGIN
SET @COUNT2 = (SELECT COUNT(DIEM.MASV) FROM DIEM join SINHVIEN on SINHVIEN.MASV = DIEM.MASV join LOP on LOP.MALOP = @MALOP 
				WHERE DIEM.MASV NOT IN (SELECT MASV FROM DIEM 
											WHERE LAN = 2 AND DIEM .MAMH =@MAMH )  AND LAN = 1 AND DIEM < 5 AND DIEM .MAMH =@MAMH )
START2:
	SELECT @SV2 = SINHVIEN.MASV FROM DIEM join SINHVIEN on SINHVIEN.MASV = DIEM.MASV join LOP on LOP.MALOP = @MALOP
	 WHERE DIEM.MASV NOT IN (SELECT MASV FROM DIEM
								 WHERE LAN = 2 AND DIEM .MAMH =@MAMH )  AND LAN = 1 AND DIEM < 5 AND DIEM .MAMH =@MAMH
	IF EXISTS (SELECT DIEM.MASV FROM DIEM join SINHVIEN on SINHVIEN.MASV = DIEM.MASV join LOP on LOP.MALOP = @MALOP 
						WHERE DIEM.MASV NOT IN (SELECT MASV FROM DIEM 
													WHERE LAN = 2 AND DIEM .MAMH =@MAMH )  AND LAN = 1 AND DIEM < 5 AND DIEM .MAMH =@MAMH )
	BEGIN
	INSERT INTO DIEM (MASV, MAMH, LAN, DIEM)
	VALUES(@SV2, @MAMH, @LAN, 0)
	END
	SET @I2 = @I2 + 1
IF @I2 < @COUNT2 GOTO START2;
END
SELECT SINHVIEN.MASV,SINHVIEN.HO + ' ' + SINHVIEN.TEN AS HOTEN,DIEM.DIEM
FROM  DIEM JOIN SINHVIEN  ON DIEM.MASV = SINHVIEN .MASV
WHERE  MALOP = @MALOP AND MAMH = @MAMH AND LAN = @LAN

