USE [QLSV_VB]
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_ROLENAME]    Script Date: 21/06/2017 2:44:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_LAY_ROLENAME]
@MAGV NCHAR(10)
AS
BEGIN
SELECT ROLENAME=NAME
FROM sys.sysusers
WHERE UID=(SELECT GROUPUID
			FROM sys.sysmembers
			WHERE MEMBERUID=(SELECT UID FROM sys.sysusers
									WHERE NAME=@MAGV)
	)
END
--SP_LAY_ROLENAME "PTITCN02"